#box {
    width:50px;
    height:50px;
    background-color:purple;
    position:absolute;
    
}
.boxes {
    width:50px;
    height:50px;
    background-color:purple;
    position:absolute;
    opacity: .4;
    
}